/*Tout mettre en camel case, alléger css avec nom de la classe suivi de paragraphe -> utiliser les selecteurs multiples*/

/************************************************************************************COMMON*************************************************************/

/*Import Raleway font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Make Raleway the default font*/
html, body
{
    width: 100%;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; /*The body element generally has an 8px margin by default in some browsers so you need to control it in your own stylesheet instead and set it 
    to what you want. Historically some browsers used padding and some used margin and some applied them to the html element instead of body. */
}

body
{
    width: 100%; 
    height: 100%; 
}

/*Take off the underlining of the links*/
a
{
    text-decoration: none;
}

/************************************************************************************WRAPPER**************************************************************/

#wrapper
{
    padding: 0 40px;
}

@media screen and (max-width: 768px)
{
    #wrapper
    {
        padding: 0 0px;
    }
}

/************************************************************************************MENU**************************************************************/

.navigationMenu a
{
    padding-right: 50px;
}

/*Apply flexbox layout to menu container*/
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

/*ul menu behavior*/
.navigationMenu
{
    display: flex;
    justify-content: space-evenly;
}

.navigationMenuSmall
{
    display: none; /*Cacher qqch*/
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.registration
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;
    padding-top: 16px;
}

nav ul a:hover
{
    border-top: 1px solid #0065FC;
    color:#0065FC;
    padding-top: 45px;
}

/*-----Nouvelles règles si la fenêtre fait au plus 375px de large---------*/
@media screen and (max-width: 535px)
{
    .navigationMenu ul
    {
        display: none; /*Cacher qqch*/
    }

    .navigationMenuSmall
    { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navigationMenuSmall ul
    {
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .registration
    {
        padding-top: 30px;
    }
    ul a:hover
    {
        border-top: 0px;
    }
     
    ul li:hover
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
    }
}

/***********************************************************************************SEARCH**************************************************************/

#btnSearchBar
{
    border-radius: 0px 10px 10px 0px;
    border: none;
    width: 100px;
    height: 35px;
    background-color: #0065FC;
    color: white;
    margin: 0px; /*Changed*/
}

/*Second mouse button for the smartphone screen is hidden when not iphone size*/
#btnSearchBarSmall
{
    display: none;
}

.formA
{
    display: flex;
}

.formA input
{
    font-weight: bold;
    height: 35px;
    border: #eaeaec;
    margin: 0px; /*Changed*/
    padding-left: 10px;
}

.fa-map-marker-alt
{
    background-color: #eaeaec;
    border-radius: 10px 0px 0px 10px;
    padding:7px;
    width: 20px;
    padding-left: 15px;
    padding-top: 10px;
}


/*Change the placeholder color for all browser*/

::placeholder 
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder 
{ /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder 
{ /* Microsoft Edge */
    color: black;
}
  
.fa-search
{
    display: none;
}

/*-----Nouvelles règles si la fenêtre fait au plus 375px de large ---------*/
@media screen and (max-width: 375px)
{
    /*First mouse button for the big screen hidden*/
    #btnSearchBar
    {   
        display: none; /*Hides the reserach button we could also use (transform: scale(0);)*/    
    }
     
    #btnSearchBarSmall
    {
        display: inline-flex;
        background: white;
        border: 0px;
    }

    .fa-search
    {   
        display: flex;
        background-color:#0065FC;
        color: white;
        border-radius: 10px 10px 10px 10px;
        padding:9px;
        width: 20px;
    }

}
/**********************************************************************************FILTERS**************************************************************/

.btnFilter
{
    background-color:white;
    padding-right: 10px;
    padding-left: 0px;
    border-radius: 40px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
    height: 40px;
}

/*Button when hovered*/
.btnFilter:hover
{
    background-color: #DEEBFF;
    padding-right: 10px;
    padding-left: 0px;
    border-radius: 40px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
    height: 40px;
}

.filtres h1
{
    margin-top: 50px;
}

/*Style for the title Filtres*/
.caption
{
    padding-top: 12px;
    font-weight: bold;
}

form ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

/*Style for the icons*/
form ul i
{
    background-color: #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
}

form ul li i
{
    padding:12px;
}


form li
{
    margin-right: 20px;
}

/*---Nouvelles règles si la fenêtre fait au plus 375px de large -----*/
@media screen and (max-width: 375px)
{
    form ul
    {
        width: 280px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
    }

    form li
    {
        margin-right: 0px;
    }

    form ul li
    {
        padding: 5px;
        list-style-type: none;
    }
    .filtres h1
    {
        font-size: 22px;
    }

    .textInfo
    {
        margin-bottom: 80px;
    }
}
/************************************************************************************INFOS**************************************************************/

.filtres p i
{
    background-color: white;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    color: #0065FC;
    border: 1px #eaeaec solid;
}

/*---Nouvelles règles si la fenêtre fait au plus 375px de large -----*/
@media screen and (max-width: 375px)
{
    .textInfo
    {
        font-size: 14px;
    }
}

/************************************************************************************HERO**************************************************************/

/*Main container*/
.divMainContainer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Styles the full stars*/
.fa-star
{
    color:#0065FC;
}

/*Styles the empty stars*/
.unactiveStar
{
    color:#eaeaec;
}

ul
{
    text-decoration: none;
}

/*Section container size and background*/
.sectionContainer
{
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 30px;
    padding: 20px;
    margin-right: 25px;
}


/*Apply flexbox layout to thunmbnail container*/
.thumbnailContainer
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}

.divMainContainer h2
{
    padding-top: 20px;
    padding-left: 40px;
}

/*Create vignette*/
.imgContainer
{
    /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
    -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    border-radius: 30px;
    width: 300px;
    background-color: white;
    padding: 5px;
    margin-bottom: 50px;
}

/*Modify the image inside of the thunmbnail*/
.imgHebergements
{
    width: 300px;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

/*Hébérgement paragraphe align to the center*/
.pHebergements
{
    text-align: left;
}

.divMainContainer section a
{
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 1437px)
{
    /*Main container For the Hero and Aside part*/
    .divMainContainer
    {
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
    }
  
    /*Section container size and background*/
    .sectionContainer
    {
        background-color: white;
        width: 100%;
        border-radius: 0px;
        padding: 0px;
        margin-right: 0px;
        order: 2
    }
    
    /*Apply flexbox layout to thunmbnail container*/
    .thumbnailContainer
    {
        display: flex;
        flex-flow: row wrap;
        padding: 0px;
    }

    /*Create vignette*/
    .imgContainer
    {
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
        -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        border-radius: 30px;
        width: 350px;
        background-color: white;
        padding: 5px;
        margin-bottom: 50px;
    }

    /*Modify the image inside of the thunmbnail*/
    .imgHebergements
    {
        width: 350px;
        height: 130px;
        border-radius: 30px 30px 0px 0px;
        object-fit: cover;
    }

    /*Defines the margin of the Afficher plus link*/
    .sectionContainer a
    {
        margin-left: 0px;
    }

    .hebergementsLink
    {
        display: inline-flex;
        width: 100px;
    }

    .divMainContainer h2
    {
        padding-top: 20px;
        padding-left: 0px;
        border: 2px solid pink; /*CORRIGER*/
    }
}

@media screen and (max-width: 375px)
{
    /*Main container For the Hero and Aside part*/
    .divMainContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    /*Section container size and background*/
    .sectionContainer
    {
        background-color: white; /*Changed*/
        width: 0%;
        border-radius: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        order: 2;
    }
    
    /*Apply flexbox layout to thunmbnail container*/
    .thumbnailContainer
    {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    /*Create vignette*/
    .imgContainer
    {
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
        -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        border-radius: 30px;
        width: 350px;
        background-color: white;
        padding: 5px;
        margin-bottom: 50px;
    }

    /*Modify the image inside of the thunmbnail*/
    .imgHebergements
    {
        width: 350px;
        height: 130px;
        border-radius: 30px 30px 0px 0px;
        object-fit: cover;
    }

    /*Defines the margin of the Afficher plus link*/
    .sectionContainer a
    {
        margin-left: 10px;
    }

    .hebergementsLink
    {
        display: inline-flex;
        width: 100px;
    }

    h2
    {
        padding-top: 20px;
        padding-left: 0px;
        /*width: 330px; CORRIGER*/
    }
}

/**********************************************************************************ASIDE**************************************************************/

.asideContainer
{
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 30px;
}

.popularThumbnailContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 20px 20px 20px;
}

.popularImgContainer
{
    /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
    -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    border-radius: 30px;
    width: 350px;
    height: 200px;
    background-color: white;
    padding: 5px;
    margin-bottom:50px;
    display: flex;
    flex-direction: row;
}

.imgPopular
{
    width: 170px;
    height: 200px;
    border-radius: 30px 0px 0px 30px;
    object-fit: cover;
}

/*Hébérgement paragraphe align to the left*/
.pPopular
{
    text-align: left;
    margin-left: 20px;
}

/*Graph icon position on the popular h2 heading*/
h2 i
{
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 50px;
}

#graphIcon
{
    color: black;
}

@media screen and (max-width: 1437px)
{
    .asideContainer
    {
        background-color: white;   
        width: 100%;  
        border-radius: 0px;
    }

    .popularThumbnailContainer
    {
        flex-flow: column wrap;
        justify-content: space-between;
        align-content: center;
    }

    .popularThumbnailContainer
    {  
        height: 0%;
        padding-left: 7px;
    }

    .popularImgContainer
    {
        border-radius: 30px;
        width: 350px;
        height: 190px;
        background-color: white;
        padding: 5px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
    }
    
    .imgPopular
    {
        width: 170px;
        height: 190px;
        border-radius: 30px 0px 0px 30px;
        object-fit: cover;
    }
    /*Hébérgement paragraphe align to the left*/
    .pPopular
    {
        text-align: left;
        margin-left: 20px;
    }
    /*Graph icon position on the popular h2 heading*/

    h2 i
    {
        position: relative;
        /* Adjust these values accordingly */
        top: 5px;
        left: 50px;
    }
}

@media screen and (max-width: 375px)
{
    .asideContainer
    {
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 0px;
    }

    .popularThumbnailContainer
    {  
        height: 0%;
        padding-left: 7px;
    }

    .popularImgContainer
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 30px;
        width: 350px;
        height: 190px;
        background-color: white;
        padding: 5px;
        margin-bottom: 50px;
    }
    
    .imgPopular
    {
        width: 170px;
        height: 190px;
        border-radius: 30px 0px 0px 30px;
        object-fit: cover;
    }
    /*Hébérgement paragraphe align to the left*/
    .pPopular
    {
        text-align: left;
        margin-left: 20px;
    }
    /*Graph icon position on the popular h2 heading*/

    h2 i
    {
        position: relative;
        /* Adjust these values accordingly */
        top: 5px;
        left: 50px;
    }
}

/**********************************************************************************ACTIVITES***********************************************************/

/*Creates a margin bewteen the activites and the footer*/
#activites
{
    margin-bottom: 50px;
}

/*This styles the div that contains all the thumnails*/
.thumbnailActivitiesContainer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
}


/*Creating a column flexbox for the image container 2*/
.flexActivitiesImgContainer2
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 10px;
}

/*Styling the big containers*/
.activitesImgContainer
{
    /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
    -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    border-radius: 30px;
    width: 300px; /* width of container */
    height: 400px; /* height of container */
    /*overflow: hidden; Everything that goes out of the container will be hidden*/
    margin: 10px;

}

.activitesImgContainer img
{
    border-radius: 30px 30px 0px 0px;
    width: 300px;
    height: 350px;
    object-fit: cover; /*object-position: 20% 10px;*/
}

/*Styling the big containers in the column*/
.activitesImgContainer2
{
    /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
    -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    width: 300px;
    height: 200px;
    /*overflow: hidden; Everything that goes out of the container will be hidden*/    
    border-radius: 30px;
    margin: 10px;
}

/*Styling the image for the big containers in the column*/
.activitesImgContainer2 img
{
    border-radius: 30px 30px 0px 0px;
    width: 300px;
    height: 150px;

    object-fit: cover;
}

/*Styling the Small containers in the column*/
.activitesImgContainer3
{
    /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
    -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border-radius: 30px;
    width: 300px;
    height: 150px;
    overflow: hidden; /*Everything that goes out of the container will be hidden*/
    margin: 10px; 
}

/*Styling the image for the small big containers in the column*/
.activitesImgContainer3 img
{
    border-radius: 30px 30px 0px 0px;
    width: 300px;
    height: 100px;

    object-fit: cover;
}


.imgActivites
{
    width: 150px;
    height: 130px;
}

.imgActivites2
{
    width: 150px;
    height: 130px;
}

section div a div p
{
    padding-left: 20px;
    color: black;
}

@media screen and (max-width: 768px)
{
    /*This styles the div that contains all the thumnails*/
    .thumbnailActivitiesContainer
    {
        flex-flow: column wrap;
        align-content: center;
        padding-left: 5px;
    }
    
    /*Creating a column flexbox for the image container 2*/
    .flexActivitiesImgContainer2
    {
        flex-flow: column wrap;
        align-content: center;
        margin-bottom: 10px;
    }


    /*Styling the big containers*/
    .activitesImgContainer
    {
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
        -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

        border-radius: 30px;
        width: 300px;
        height: 200px;
        /*overflow: hidden; Everything that goes out of the container will be hidden*/

        margin-bottom: 30px;
    }

    .activitesImgContainer img
    {
        border-radius: 30px 30px 0px 0px;
        width: 300px;
        height: 150px;

        object-fit: cover;
        /*object-position: 20% 10px;*/
    }


    /*Styling the big containers in the column*/
    .activitesImgContainer2
    {
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
        -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        
        width: 300px;
        height: 200px;
        /*overflow: hidden; Everything that goes out of the container will be hidden*/    

        margin-bottom: 30px;
        border-radius: 30px;
    }

    /*Styling the image for the big containers in the column*/
    .activitesImgContainer2 img
    {
        border-radius: 30px 30px 0px 0px;
        width: 300px;
        height: 150px;

        object-fit: cover;
    }



    /*Styling the Small containers in the column*/
    .activitesImgContainer3
    {
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
        -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

        border-radius: 30px;
        width: 300px;
        height: 200px;
        overflow: hidden; /*Everything that goes out of the container will be hidden*/

        margin-bottom: 30px;
    }

    /*Styling the image for the small big containers in the column*/
    .activitesImgContainer3 img
    {
        border-radius: 30px 30px 0px 0px;
        width: 300px;
        height: 150px;
        object-fit: cover;
    }

}

/*---------- Nouvelles règles si la fenêtre fait au plus 375px de large --------------*/
@media screen and (max-width: 375px)
{
  
    /*This styles the div that contains all the thumnails*/
    .thumbnailActivitiesContainer
    {
        flex-direction: column;
        
        align-content: center;
        padding-left: 5px;
    }

    /*Creating a column flexbox for the image container 2*/
    .flexActivitiesImgContainer2
    {
        margin-bottom: 30px;
    }


    /*Styling the big containers*/
    .activitesImgContainer
    {
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
        -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

        border-radius: 30px;
        width: 300px;
        height: 200px;
        /*overflow: hidden; Everything that goes out of the container will be hidden*/

        margin-bottom: 30px;
    }

    .activitesImgContainer img
    {
        border-radius: 30px 30px 0px 0px;
        width: 300px;
        height: 150px;

        object-fit: cover;
        /*object-position: 20% 10px;*/
    }


    /*Styling the big containers in the column*/
    .activitesImgContainer2
    {
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
        -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        
        width: 300px;
        height: 200px;
        /*overflow: hidden; Everything that goes out of the container will be hidden*/    

        margin-bottom: 30px;
        border-radius: 30px;
    }

    /*Styling the image for the big containers in the column*/
    .activitesImgContainer2 img
    {
        border-radius: 30px 30px 0px 0px;
        width: 300px;
        height: 150px;

        object-fit: cover;
    }



    /*Styling the Small containers in the column*/
    .activitesImgContainer3
    {
        /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
        -webkit-box-shadow: 1px 1px 3px 3px #e8e8e8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    1px 1px 3px 3px #e8e8e8;  /* Firefox 3.5 - 3.6 */
        box-shadow:         1px 1px 3px 3px #e8e8e8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

        border-radius: 30px;
        width: 300px;
        height: 200px;
        overflow: hidden; /*Everything that goes out of the container will be hidden*/

        margin-bottom: 30px;
    }

    /*Styling the image for the small big containers in the column*/
    .activitesImgContainer3 img
    {
        border-radius: 30px 30px 0px 0px;
        width: 300px;
        height: 150px;

        object-fit: cover;
    }

}

/**********************************************************************************FOOTER**************************************************************/

footer
{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    background-color: #e8e8e8;
    padding: 0 40px;
}
 
footer div {
    flex-grow: 1;
}
 
footer h2
{
    font-size: 15px;
    font-weight: bold;
}
 
footer ul {
    padding: 0;
}
 
footer ul li
{
    list-style-type: none;
    font-size: 15px;
    padding-top: 10px;
}
footer ul li a
{
    color: black;
}
 
 
@media screen and (max-width: 768px)
{
    footer
    {
        flex-direction: column;
    }  
}