/*Tout mettre en camel case, alléger css avec nom de la classe suivi de paragraphe -> utiliser les selecteurs multiples*/

/******************************************COMMON***************************************/

/*Import Raleway font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Make Raleway the default font*/
body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/*Take off the underlining of the links*/
a
{
    text-decoration: none;
}

/******************************************MENU***************************************/

/*Apply flexbox layout to menu container*/

.menuContainer
{
    
   
}

/*ul menu behavior*/

.menuContainer ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menuContainer a
{
    color:#0065FC;
}

.menuContainer a:hover
{
    border-top: 1px solid #0065FC;
    color: gray;
}

/*Creates a margin between the element of the menu*/

nav ul li a
{
    margin-right: 50px;
    padding-top: 70px;
}

/******************************************NAVIGATION SEARCH & FILTERS***************************************/

.btnFilter
{
    background-color:white;
    padding: 0px;
    border-radius: 40px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
}

form ul i
{
    background-color: #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
}

form ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

form li
{
    margin-right: 20px;
}

form ul li i
{
    padding:15px;
}


/**************Main container***********/

.divMainContainer
{
    display: inline-flex;
    justify-content: space-between;
}


/******************************************HERO***************************************/

ul
{
    text-decoration: none;
}

/*Section container size and background*/
.sectionContainer
{
    background-color: #F2F2F2;
    max-width: 70%;
    border-radius: 30px;
}

/*Apply flexbox layout to thunmbnail container*/
.thumbnailContainer
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}

h2
{
    padding-top: 20px;
    padding-left: 40px;
}

/*Create vignette*/
.imgContainer
{
    border-radius: 30px;
    width: 300px;
    background-color: white;
    padding: 5px;
}

/*Modify the image inside of the thunmbnail*/
.imgHebergements
{
    width: 300px;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
}

/*Hébérgement paragraphe align to the center*/
.pHebergements
{
    text-align: center;
}


/****************************************ASIDE***************************************/

.asideContainer
{
    background-color: #F2F2F2;
    max-width: 30%;
    border-radius: 30px;
}

.popularThumbnailContainer
{
    display: flex;
    flex-direction: column;
    padding: 5px 20px 20px 20px;
}

.popularImgContainer
{
    border-radius: 30px;
    width: 350px;
    height: 150px;
    background-color: white;
    padding: 5px;
    margin-bottom:50px;
    display: flex;
    flex-direction: row;
}

.imgPopular
{
    width: 170px;
    height: 150px;
    border-radius: 30px 0px 0px 30px;
}

/*Hébérgement paragraphe align to the left*/
.pPopular
{
    text-align: left;
}

/*Graph icon position on the popular h2 heading*/

h2 i
{
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 50px;
}

/****************************************WRAPPER***************************************/

/*See if usefull*/
#wrapper
{

}